@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

@mixin sub_title {
    font-size: 32px;
    text-align: center;
    font-weight: normal;
}

@keyframes fly {

    from,
    to {
        top: 0px;
        animation-timing-function: ease-in-out;
    }

    50% {
        top: 100px;
        animation-timing-function: ease-in-out;
    }

    0%,
    100% {
        transform: translateY(0) rotate(-4deg);
    }

    50% {
        transform: translateY(-10px) rotate(4deg);
    }
}

@keyframes up {
    0% {
        bottom: 0;
    }


    100% {
        bottom: 7px;
    }
}

@keyframes earth {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes cloud {
    0% {
        transform: translateX(-25px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes cloud2 {
    0% {
        transform: translateX(25px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes leg-left {

    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(-4deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes leg-right {

    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes astronaut {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes hand-right {

    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes scale {


    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(0.85);
    }
}

@keyframes rotate {


    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(6deg);
    }
}

@keyframes ear-right {


    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(2deg);
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.6;
        filter: drop-shadow(2px 2px 3px white);
    }

    75% {
        opacity: 1;
        filter: drop-shadow(2px 2px 3px white);
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes slide {
    0% {
        transform: scale(0.8);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}



#gotop {
    max-width: 90px;
    right: 12px;

    a {
        display: block;
        margin: 6px 0;

        img {
            max-width: 90px;
        }
    }
}

.uk-link:hover,
a:hover {
    text-decoration: none;
}

//kv

.tree {
    max-width: 183px;
    width: 100%;
    display: block;
    position: absolute;
    left: -120px;
    bottom: 38px;
}

.kv-bear {
    max-width: 144px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -22px;
    right: 0;
}

.kv-phone {
    max-width: 100px;
    width: 100%;
    position: absolute;
    left: -45px;
    bottom: 0;
}

.turntable-group {
    position: relative;
    max-width: 400px;
    width: 100%;
    display: block;
    margin: 20px auto;

    .gift {
        position: absolute;
    }

    .airpods {
        max-width: 130px;
        width: 100%;
        left: 150px;
        top: 150px;
    }

    .coupon {
        max-width: 100px;
        width: 100%;
        left: 48px;
        top: 28%;
    }

    .cards {
        max-width: 108px;
        width: 100%;
        top: 83px;
        left: 50%;
    }
}


.kv {
    a {
        max-width: 200px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: #ffc517;
        height: 65px;
        color: #fff;
        margin: 60px auto 28px;
        position: relative;
        z-index: 2;
    }


position: relative;
    background: url(../img/kv-bg.png);
    background-size: cover;
    padding: 36px 30px;
    background-position: center bottom;

    .title {
        text-align: center;

        img {
            max-width: 166px;
            width: 100%;
            display: block;
            margin: 0 auto;
        }

        p {
            font-size: 18px;
            line-height: 28px;

            span {
                font-size: 16px;
                margin-top: 10px;
                display: block;
            }

            b {
                // display: block;
                color: #ef7800;
                font-size: 16px;
            }
        }
    }

    .container {
        max-width: 970px;
        width: 100%;
        margin: 0 auto;
    }

}

//scroll
@keyframes scrolldown {
    0% {
        background-position: 0 -100px;
    }

    75% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 100px;
    }
}

.arrow {
    display: block;
    margin: 0 auto;
    z-index: 4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    cursor: pointer;
    z-index: 0;
}

.arrow svg {
    display: block;
    margin: 0 auto;
    width: 8px;
    height: auto;
    color: #25bfa1;
}

.c-scrolldown {
    width: 1px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
}

.c-scrolldown .c-line {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to bottom, #00a19b 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 -60px;
    background-size: 100% 200%;
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

//活動獎項
.gifts-section {
    .gift-airpods-m{
        display: none!important;
    }
    h4 {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        color: #00a19b;
    }

    .col-4 {
        width: 30%;
        display: inline-flex;
        background: #ffe369;
        margin: 10px;
        border-radius: 8px;
        vertical-align: middle;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        h3 {
            text-align: center;
            color: #b37a00;
            font-size: 26px;
            width: 100%;

            span {
                display: block;
                font-size: 18px;
                margin-top: 10px;
            }
        }

        img {
            display: block;
            max-width: 192px;
            width: 100%;
            margin: 0 auto;
        }
    }

    .col-8 {
        width: 69%;
        display: inline-block;
        vertical-align: middle;

        .block {
            width: 46%;
            background: #fff7ba;
            margin: 10px;
            display: inline-block;
            border-radius: 8px;
            padding: 24px;

            span {
                display: block;
                text-align: center;
                font-size: 16px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                text-align: center;
                height: 52px;
            }

            .gifts {
                max-width: 140px;
                width: 100%;
                display: block;
                margin: 10px auto;
            }
        }
    }

    .row {
        max-width: 1100px;
        margin: 20px auto;
        display: flex;
        text-align: center;
    }

    padding: 0 20px;
    margin-top: 100px;

    .link {
        color: #00a19b;
        font-size: 16px;
        text-decoration: underline;
    }

    .sub-title {
        @include sub_title();
    }

    .descript {
        text-align: center;

        p {
            font-size: 18px;
            line-height: 28px;
        }
    }

    .line {
        display: block;
    }

    .box {
        position: relative;
        padding: 0 26px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: url(../img/line-left.png);
            width: 3px;
            height: 100%;
            background-size: cover;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            background: url(../img/line-right.png);
            width: 3px;
            height: 100%;
            background-size: cover;
        }
    }

    .txt {
        max-width: 500px;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-left: 40px;

        p {
            font-size: 18px;

            span {
                font-size: 16px;
                margin-right: 16px;
            }
        }
    }

    .point-title {
        max-width: 280px;
        width: 100%;
        margin-bottom: 10px;
    }

    .con {
        max-width: 1100px;
        width: 100%;
        margin: 42px auto;
    }
}

.point-bear {
    max-width: 323px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

//btn
.main-btn {
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #ffc517;
    height: 65px;
    color: #fff;
    margin: 0 auto;
}

//活動流程
.tab {
    max-width: 1100px;
    margin: 60px auto !important;

    .uk-switcher {
        background: #E1EFEF;
        border-radius: 10px;
        padding: 20px;

        li {
            .row {
                text-align: center;
            }

            .step-num {
                max-width: 82px;
                width: 100%;
                display: block;
                margin: 0 auto;
            }

            .col-6 {

                // .bank-qr{
                //     max-width: 212px;
                //     width: 100%;
                //     display: block;
                //     margin: 0 auto;
                // }
                .main-btn {
                    border: 1px solid #00a19b;
                    background: #fff;
                    color: #00a19b;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                    margin: 46px 0;

                    span {
                        color: #EF7800;
                    }

                    a {
                        text-decoration: underline;
                        color: #00a19b;
                    }
                }

                h4 {
                    font-weight: normal;
                    font-size: 18px;
                    height: 48px;
                    line-height: 24px;
                }

                display: inline-block;
                max-width: 320px;
                width: 100%;
                vertical-align: top;
                margin: 32px;
            }

            .col-4 {
                display: inline-block;
                max-width: 250px;
                width: 100%;
                vertical-align: top;
                margin: 32px;

                h4 {
                    font-weight: normal;
                    font-size: 16px;
                    height: 72px;
                    line-height: 24px;
                }
            }
        }
    }
}

.uk-tab {
    max-width: 660px;
    width: 100%;
    margin: 0 auto;

    &>li {
        flex: 2;
        padding-left: 0;
        position: relative;

        a {
            font-size: 18px;
        }
    }

    &>.uk-active {
        &::after {
            content: "";
            width: 100%;
            height: 4px;
            background: #00a19b;
            border-radius: 10px;
            display: block;
            position: absolute;
            bottom: -4px;
            right: 0;
        }

        &>a {
            color: #00a19b;
            font-weight: bold;
            padding-bottom: 16px;
            border: 0;
        }
    }

    &::before {
        display: none;
    }

    &::after {
        content: "";
        bottom: 0;
        left: 20px;
        right: 0;
        width: 100%;
        height: 4px;
        background: #E1EFEF;
        border-radius: 10px;
        position: static;
    }
}

//兩步驟加入e.Fingo會員
.join {
    .btn-group {
        a {
            display: inline-flex;
            margin: 16px;
        }

        .main-btn {
            border: 1px solid #00a19b;
            background: #00a19b;
            color: #fff;
        }

        .sub-btn {
            border: 1px solid #00a19b;
            color: #00a19b;
            background: #fff;
        }
    }

    margin: 60px 0;
    text-align: center;

    .sub-title {
        @include sub_title();
    }

    .descript {
        text-align: center;

        p {
            font-size: 18px;
            line-height: 28px;
        }
    }

    .phone {
        max-width: 250px;
    }

    .col-6 {
        display: inline-block;
        max-width: 320px;
        width: 100%;
        vertical-align: top;
        margin: 32px;

        .step-num {
            max-width: 82px;
            width: 100%;
            display: block;
            margin: 0 auto;
        }

        h4 {
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
        }
    }

    .row {
        background: #fafafa;
        max-width: 1100px;
        width: 100%;
        margin: 40px auto 0;
        border-radius: 10px;
        padding: 20px;
        text-align: center;

    }
}

//常見問題
.faq {
    .sub-title {
        @include sub_title();
    }

    .row {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }

    .answer {
        display: none;
    }

    .qa {
        border: 1px solid #d9d9d9;
        padding: 20px 40px;
        margin: 20px 0;

        .link {
            text-decoration: underline;
            color: #00a19b;
        }

        ol {
            padding-left: 20px;
            line-height: 22px;
            font-size: 16px;

            li {
                margin-bottom: 6px;
            }
        }

        h3 {
            position: relative;
            margin-top: 0;
            font-size: 18px;
            font-weight: 500;
            color: #00a19b;
            cursor: pointer;
            margin: 0;

            svg {
                position: absolute;
                max-width: 24px;
                width: 100%;
                right: 0;
                display: block;
                top: 0;
                transition: 0.3s;
            }
        }

        .active-qa {
            .toggle-arrow {
                transform: rotate(180deg);
            }
        }

        .answer {
            p {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
    }
}

//注意事項
.notice {
    .open-popup-link {
        font-size: 16px;
        text-align: center;
        display: block;
        margin: 30px 0;
        color: #00a19b;
        text-decoration: underline;
    }
}
.mfp-bg{
    background: #1c1c1c;
    opacity: .7;
}
.mfp-close-btn-in .mfp-close {
    color: #1c1c1c;
    right: 10px;
    border-radius: 30px;
    top: 15px;
    right: 15px;
}

.white-popup {
    position: relative;
    background: #ffffff;
    padding: 20px;
    width: auto;
    max-width: 1200px;
    width: 100%;
    height: 750px;
    border-radius: 4px;
    overflow-y: scroll;
    margin: 20px auto;
    line-height: 22px;
    padding-right: 2em;

    a {
        color: #00a19b;
        text-decoration: underline;
    }

    h3 {
        padding-left: 1em;
    }

  

    ol {
        ol{
            padding-left: 20px;
            list-style-type: square;
        }
        ul {
            padding-left: 20px;
            list-style: none;
            margin: 0;
        }
    }

}



@media screen and (max-width:1540px) and (min-width:1330px) {}

@media (min-width: 1280px) {
    .faq .qa h3 svg{
        height: 13px;
    }
}

@media screen and (min-width: 801px) {}

@media(max-width:1200px) {}

@media(max-width:1150px) {}

@media(max-width:1120px) {
    .faq {
        padding: 0 20px;
    }
}

@media screen and (max-width: 992px) {
    .point-bear {
        max-width: 218px;
    }

    .gifts-section {
        .box {
            text-align: center;
        }

        .txt {
            text-align: left;
        }

        .box {
            padding: 26px;
        }
    }
}

@media screen and (max-width: 860px) {
    .gifts-section {
        .col-4 {
            display: block;
            width: 100%;
            position: relative;
            margin: 0px auto 10px;

            img {
                display: inline-block;
                position: absolute;
                max-width: 120px;
                left: 19%;
                top: 50%;
                transform: translateY(-50%);
            }

            h3 {
                display: inline-block;
                width: 100%;
                margin: 72px 0;
            }
        }

        .txt {
            display: block;
            margin: 20px auto;
            text-align: center;
        }

        .col-8 {
            width: 100%;
        }

        .row {
            display: block;
        }
    }
}

@media screen and (max-width: 800px) {
    .kv-bear {
        bottom: -36px;
        right: -30px;
    }

    .kv {
        .title {
            margin-top: 66px;
        }
    }

    .turntable-group {
        .airpods {
            max-width: 103px;
            left: 127px;
            top: 125px;
        }

        .coupon {
            max-width: 84px;
            left: 43px;
            top: 28%;
        }

        .cards {
            max-width: 92px;
            top: 55px;
            left: 47%;
        }

        max-width: 310px;
    }
}

@media screen and (max-width: 770px) {
    .uk-tab{
        padding: 0 18px;
    }
    .gifts-section {
        .col-8 {
            .block {
                p {
                    height: 64px;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    #gotop{
        display: none!important;
    }
    .sub-title{
        font-size: 24px!important;
    }
    .join{
        .phone{
            max-width: 200px;
            width: 100%;
        }
        .col-6{
            display: block;
            margin: 20px auto;
        }
    } 
    .faq{
        .qa{
            padding: 20px;
            line-height: 24px;
            h3{
                font-size: 16px;
                svg{
                    max-width: 12px;
                    right: -8px;
                    top: 7px;
                }
            }
        }
    } 
    .tab{
        .bank-qr{
            max-width: 200px;
            width: 100%;
        }
        .uk-switcher{
            .phone-step{
                max-width: 200px;
                width: 100%;
            }
            li{
                .col-6{
                    p{
                        margin-top: 20px;
                    }
                    display: block;
                    margin: 20px auto;
                }
            }
        } 
    } 
    .kv{
        .title{
            img{
                max-width: 120px;
            }
        }
        .kv-bear{
            right: 0;
        }
        overflow: hidden;
    }
    .gifts-section{
        .point-bear{
            max-width: 200px;
        }
        .txt{
            p{
                font-size: 16px;
                span{
                    margin-right: 6px;
                }
            }
        }
        .con{
            margin-bottom: 10px;
        }
    .col-4{
        h3{
            width: 50%;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        .gift-airpods-m{
            display: block!important;
            position: static;
    width: 50%;
    transform: translateX(0);
    margin: 0;
        }
        .gift-airpods-pc{
            display: none;
        }
    }
        .box{
            padding: 20px;
        }
        .line{
            height: 3px;
        }
        .col-8{
            justify-content: center;
            width: 100%;
            display: inline-flex;
            flex-wrap: wrap;
            .block{
                margin: 6px;
                padding: 16px;
                p{
                    height: 110px;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {}

@media screen and (max-width: 330px) {
    .turntable-group .coupon{
        left: 30px;
    }
    .turntable-group .airpods{
        left: 105px;
        top: 111px;
    }
    .kv{
        .title{
            p{
                font-size: 16px;
            }
        }
    }
    .kv-bear{
        max-width: 105px;
    }
    .kv-phone{
        max-width: 81px;
    }
    .gifts-section{
        .col-8{
           .block{
            width: 100%;
            margin: 10px 0;
            p{
                height: auto;
            }
           }
        }
        .col-4{
            h3{
                font-size: 18px;
            }
        } 
    } 
}